@{
    ViewBag.Title = "Sobre ";
}
<main aria-labelledby="title">
    <h2 id="title">Sobre o VacinePet.</h2>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo:wght@400;700&display=swap" rel="stylesheet">

    <h4 class="intro">Objetivos do VacinePet</h4>
    <p>No mundo atual, onde a eficiência e a organização são essenciais, o VacinePet surge como uma solução inovadora para a gestão das informações dos animais de estimação. Com uma interface intuitiva e uma gama completa de funcionalidades, o VacinePet transforma a forma como donos de pets e profissionais de cuidados com animais administram as informações de seus amigos peludos.</p>
    <h4>Facilidade e Conveniência na Adição de Pets</h4>
    <p>O VacinePet é projetado para tornar o processo de registro de novos animais de estimação o mais simples e rápido possível. Ao criar um novo perfil para um pet, os usuários são guiados por um formulário fácil de preencher, que coleta informações essenciais como nome, idade, raça e tipo de animal. Além disso, o sistema permite a inclusão de dados importantes sobre vacinação e visitas ao veterinário, garantindo que todas as informações relevantes estejam disponíveis em um único lugar. Essa funcionalidade não apenas simplifica a administração, mas também assegura que os registros estejam sempre completos e atualizados.</p>
    <h4>Gestão Eficiente com Edição e Atualização</h4>
    <p>Manter informações precisas e atualizadas é crucial para o bem-estar dos animais. O VacinePet oferece uma plataforma que facilita a edição e atualização de dados. Caso haja mudanças no estado de saúde, no histórico de vacinação ou em qualquer outro aspecto relevante, os usuários podem atualizar rapidamente as informações através de uma interface simples e direta. Isso garante que os registros estejam sempre corretos e reflitam a condição atual dos pets, permitindo uma gestão mais eficaz e menos propensa a erros.</p>
</main>

<style>
    #title {
        color: #41b3e1;
        font-weight: 500;
        font-family: 'Baloo', sans-serif;
        font-size: 55px;
        margin-top: 30px;
    }

    h3 {
        font-weight: 700;
        color: #3886a5;
        margin-top: -20px;
        font-size: 20px;
    }

    h4 {
        font-weight: 700;
        margin-top: 10px;
        font-family: 'Baloo', sans-serif;
        color: #f76501;
    }

    .intro {
        margin-top: 20px;
    }
</style>