@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">Contato.</h2>
    <h3>Entre em contato em caso de dúvidas!</h3>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo:wght@400;700&display=swap" rel="stylesheet">
    <address>
        Dra. Luciane Mônica<br />
        Sorocaba, SP<br />
        <abbr title="Phone">(15) 99851-2126</abbr>
    </address>

    <address>
        <strong>Central de Ajuda:</strong> <a href="mailto:Marketing@example.com">vacinepet@gmail.com</a>
    </address>
</main>

<style>
    #title {
        color: #41b3e1;
        font-weight: 500;
        font-family: 'Baloo', sans-serif;
        font-size: 55px;
        margin-top: 30px;
    }

    h3 {
        font-weight: 700;
        color: #3886a5;
        margin-top: -20px;
        font-size: 20px;
    }
</style>