@{
    ViewBag.Title = "Home";
}

<main>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo:wght@400;700&display=swap" rel="stylesheet">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">VacinePet <i class="fa-solid fa-paw fa-rotate-by"></i></h1>
        <p class="lead">O VacinePet é uma plataforma online desenvolvida especialmente para amantes de animais e profissionais da área de cuidados com pets. Nosso objetivo é simplificar a gestão das informações dos seus animais de estimação.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Interface Intuitiva</h2>
            <p>
                O VacinePet se destaca por sua interface intuitiva e amigável, que proporciona uma experiência de usuário fluida e sem complicações. Seu design claro e simples permite que até mesmo usuários com pouca experiência tecnológica possam navegar facilmente pela plataforma.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Gestão Centralizada</h2>
            <p>Uma das principais vantagens do VacinePet é a gestão centralizada de informações dos seu pet. Ao consolidar todos os dados relevantes em um único local, a plataforma facilita o acesso e a atualização das informações sem a necessidade de consultar múltiplos registros.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Manutenção Simples</h2>
            <p>O VacinePet oferece uma abordagem prática para a atualização e manutenção das informações dos pets. Com uma interface projetada para simplificar o processo, os usuários podem facilmente editar dados, adicionar novas informações ou excluir registros obsoletos.</p>
        </section>
    </div>
</main>

<style>
    #title {
        color: #f76501;
        font-weight: 500;
        font-family: 'Baloo', sans-serif;
        font-size: 55px;
        margin-top: 30px;
    }

    h2 {
        font-weight: 700;
        margin-top: 60px;
        color: #41b3e1;
    }

    .fa-solid {
        color: #f76501;
        --fa-rotate-angle: 53deg;
        width: 20px;
        height: 2px;
        font-size: 25px;
    }
</style>
